<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width-device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<title>Top Recipes</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-orange" id="more-recipes-navbar">
<div class="container">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">

</button>

<!-- Brand -->
    <a class="navbar-brand" href="#"><img src="images/more-recipes.jpg" class="img-fluid rounded" alt="More Recipe Logo"/></a>

<!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
        <ul class="navbar-nav">
             <li class="nav-item  active">
                <a class="nav-link" href="top-recipes.html">Top Recipes</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="recipe-details.html">View Recipe</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="favorites.html">Favorites</a>
             </li>
            <li class="nav-item">
                 <a class="nav-link" href="profile.html">Profile</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="modify.html">Modify</a>
            </li>
        </ul>

    <!-- Search -->
   <!-- <form class="form-inline" role="search">
        <div class="input-group"> 
            <input type="text" class="form-control" placeholder="Search Recipe">
            <i class="fa fa-search input-group-addon" aria-hidden="true"></i>
        </div>
    </form>-->
</div>
</nav>
<section class="search-layout">
    <div class="container">
        <br>
            <form role="search" style = "margin-left:70px; margin-right:70px;">
                    <div class="input-group"> 
                        <input type="text" class="form-control" placeholder="Type your search here">
                        <i class="fa fa-search input-group-addon" aria-hidden="true"></i>
                    </div>
                </form>
        <div style="max-width: 960px; margin-top:20px; margin-left:70px;">
            <p class=".h4">Result of <em style="color:#d83807">Worded searched</em> recipes</p>
            <div class="row" >
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/bar-u-stasi.jpg" class="rounded img-fluid" alt="Bar U Stasi">
                        <h4 class="card- text-center">Bar U Stasi</h4>
                        <a href="#" class="btn btn-primary">More &raquo;</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/fun-to-eat-spaghetti-salad.jpg" class="rounded img-fluid" alt="Fun to eat Spaghetti Salad">
                        <h4 class="card- text-center">Spaghetti Salad</h4>
                        <a href="#" class="btn btn-primary">More &raquo;</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/rainy-recipes.jpg" class="rounded img-fluid" alt="Rainy Recipes">
                        <h4 class="card- text-center">Rainy Recipes</h4>
                        <a href="#" class="btn btn-primary">More &raquo;</a>
                    </div>
                    <br>
                    <br>
                </div>
              
               <!-- <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/spaghetti-smoky-tomato-seafood-sauce.jpg" class="rounded img-fluid" alt="Spaghetti Smoky Tomato Seafood Sauce">
                        <h4 class="card- text-center">Spaghetti Smoky</h4>
                        <a href="#" class="btn btn-primary">More</a>
                    </div>
                </div>-->
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/rainy-recipes.jpg" class="rounded img-fluid" alt="Rainy Recipes">
                        <h4 class="card- text-center">Rainy Recipes</h4>
                        <a href="#" class="btn btn-primary">More &raquo;</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-body">
                        <img src="images/products/fun-to-eat-spaghetti-salad.jpg" class="rounded img-fluid" alt="Fun to eat Spaghetti Salad">
                        <h4 class="card- text-center">Spaghetti Salad</h4>
                        <a href="#" class="btn btn-primary">More &raquo;</a>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-orange" style="padding-top:30px;">
    <div class="container">
            <div class="row">
            <div class="col-sm-12"><p>Copyright &copy; 2017. All rights reserved.</p></div>
            </div>  
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/myscript.js"></script>
</body>
</html>